{% extends 'base.html' %}
{% block content %}
<h1>Регистрация нового пользователя</h1>
<form  method="post">
    {% csrf_token %}
    <div class="">
        {{ form.full_name.label }}
            {{ form.full_name }}
        </div>
        <div class="">
            {{ form.birth_date.label }}
            {{ form.birth_date }}
        </div>
        <div class="">
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div class="">
            {{ form.password1.label }}
            {{ form.password1 }}
            {{ form.password2.label }}
            {{ form.password2 }}
            
        </div>
        {{ form.errors }}

        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock content %}
