<header class="mb-5 py-3 border-bottom border-dark">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-4 d-flex">
              <a href="{% url 'home' %}" class="col-1 ">
                <img class="w-100" src="https://media.baamboozle.com/uploads/images/318635/1623782709_176610_import-url.png" alt="">
              </a>
            </div>
            <div class="col-4 d-none d-lg-block">
                <ul class="nav w-100 fs-6  d-flex justify-content-center  ">
                    <li class="nav-item">
                      <a class="nav-link text-dark" aria-current="page" href="{% url 'home' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="{% url 'article_list' %}">Статьи</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="{% url 'home' %}">Книги</a>
                    </li>
                  </ul>
            </div>
            <div class="col-4 d-none d-lg-flex justify-content-end">
              {% if user.is_authenticated == False %}
                <a href="{% url 'register' %}" type="button" class="h-75  btn btn-light ms-2">Регистрация</a>
                <a href="{% url 'login' %}" type="button" class="h-75  btn btn-dark ms-2">Вход</a>
                
              {% else %}
                  {% if user.is_staff %}
                    <a href="{% url 'admin:index' %" type="button" class="h-75  btn btn-danger ms-2">Админка</a>
                  {% endif %}
                <a href="{% url 'profile' %}" type="button" class="h-75  btn btn-light ms-2">Профиль</a>
                <a href="{% url 'logout' %}" type="button" class="h-75  btn btn-dark ms-2">Выход</a>
              {% endif %}
            </div>
            <nav class="navbar d-block d-lg-none bg-light fixed-top">
              
              <div class="container-fluid d-flex justify-content-between">
                <div class="col-4 d-flex">
                  <a href="{% url 'home' %}" class="col-2 ">
                    <img class="w-100" src="https://media.baamboozle.com/uploads/images/318635/1623782709_176610_import-url.png" alt="">
                  </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                  </div>
                  <div class="offcanvas-body">
                        <a class="nav-link active" aria-current="page" href="#">Главная</a>
                        <a class="nav-link" href="#">Ссылка</a>
                  </div>
                </div>
              </div>
            </nav>
        </div>
        
    </div>
</header>